@charset "utf-8";

/************
*ヘッダー
************/
.header_template_rakuten_wrap {
    width: 100%;
    background: linear-gradient(180deg,
            #ffffff 0%,
            #ffffff 61%,
            #ebebeb 61%,
            #ebebeb 63%,
            #f4f3f1 63%,
            #f4f3f1 90%,
            #ffffff 90%,
            #ffffff 100%);
}


.iframe_slider {
    width: 100%;
}

/************
*メインコンテンツ
************/


/************
*レフトナビ
************/



/************
*フッター
************/